name: Main

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  main:
    name: Main Process
    runs-on: ubuntu-latest
    env:
      golang_ci_lint_version: v2.7.2
      CGO_ENABLED: 0

    steps:

      # https://github.com/marketplace/actions/checkout
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # https://github.com/marketplace/actions/setup-go-environment
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Check and get dependencies
        run: |
          go mod tidy
          git diff --exit-code go.mod
          # git diff --exit-code go.sum

      # https://golangci-lint.run/usage/install#other-ci
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.golang_ci_lint_version }}

      - name: Make
        run: make

      - name: Make Image
        run: make image
